*{
    margin: 0;
    border: border-box;
    font-family: Arial;
}
.navbaar{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
    
}
.border:hover{
    border: 1.5px solid white;
}
/* Box2 start */

.Address-1{
    font-size: 0.85rem;
    color: #cccc;
    margin-left: 22px;
}
.Address-2{
    font-size: 1rem;
    color: #ffff;
    margin-left: 2px;
}
.add-icon{
    display: flex;
    align-items: center;
}
/* Box 3 start */
.navsearch{
    display: flex;
    justify-content: space-evenly;
    width: 620px;
    background-color: pink;
    height: 40px;
    border-radius: 4px;
}
.navsearch:hover{
    border: 2px solid orange;
}
/* 55 Number for showing hover on full box */
.Search-select{
border-top-left-radius: 4px;
border-bottom-left-radius: 4px;
background-color: #f3f3f3;
width: 50px;
text-align: center;
border: none;
}

.search-product{
width: 100%;
border: none;
font-size: 1rem;
}

.search-icon{
width: 45px;
justify-content: center;
display: flex;
align-items: center;
background-color: #febd68;
font-size: 1.5rem;
border-top-right-radius: 4px;
border-bottom-right-radius: 4px;
color: black;
}
/* Box 4 start */
span{
    font-size: 0.75rem;
}
.same-font{
    font-size: 0.85rem;
    font-weight: 700;
}
/* box 6 */
.nav-cart i{
    font-size: 30px;
}
.nav-cart{
    font-size: 0.85rem;
    font-weight: 700;
}
/* This all was for navbaar first */
.panel{
    display: flex;
    height: 40px;
    background-color: #222f3d;
    color: white;
    align-items: center;
    justify-content: space-evenly;
}
.panel-opt p{
    display:inline ;
    margin: 15px;

}
.panel-opt{
    width: 70%;
    font-size: 0.85rem;
}
.panel-deals{
    font-weight: 600;
    font-size: 0.95rem;
}
/* Panel Second completed  */
.hero-section{
    background-image: url(hero_image.jpg);
    background-size: cover;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: end;
}
.hero-mess{
    background-color: white;
    color: black;
    height: 40px;
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
}
.hero-mess a{
    color: #007185;
}
/* Hero Section created */
.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color: #e2e6e7;
}
.box{
    height: 400px;
    width: 23%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;

}
.Img-box{
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content1{
    margin-left: 10px;
    margin-right: 10px;
}
hr{
    margin-right: 20px ;
    margin-left: 20px;
    border-radius: 10%;
}
/* Hr Tag Used extra for check only */
/* created Multiple Image Boxes */
footer{
    margin-top: 15px;
}
.footer-col1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.footer-col2{
    height: 300px;
    background-color: #222f3d;
    color: white;
    display: flex;
    justify-content: space-evenly;
    
}
ul a{
   margin-top: 10px;
    display: block; 
    font-size: 0.85rem; 
    color: #dddddd;
}
ul{
    margin-top: 40px;
}
/* second panel created  */
.footer-col3{
    background-color: #222f3d;
    border-top: 0.5px solid white;
    color: #37475a;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-col3 .logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
/* logo work done inside the footer */
.footer-col4{
    background-color: #0f1111;
    height: 80px;
    color: white;
    /* display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly; */
    text-align: center;
    font-size: 12px;
}
.pages{
/* font-size: 12px;
 text-align: center; */
padding-top:25px; 
}
.coopyrights{
    padding-top: 5px;
    /* font-size: 12px;
    text-align: center; */
}